/* ========================[ global styles ]=====================*/
html {
  position: relative;
  min-height: 100%;
}
*{
  padding: 0;
}
body {
  background: #ecf4fc;
  overflow-x: hidden;
  margin: 0;
  height: 100%;
}
.drop-content{
  border-radius: 0 0 .7rem .7rem;
  min-width: 140px;
  position: absolute;
  margin:3.3rem 0 0 -1rem !important;
}
a{
  cursor: pointer;
}
#bg {
  width: 100%;
  height: 700px;
  clip-path: var(--clip-path);
  position: absolute;
  background: var(--linear-gradient);
  z-index: -10;
}
p{
  margin: 0;
}
.bg {
  position: fixed !important;
  clip-path: polygon(100% 0, 100% 23%, 80% 35%, 0 21%, 0 0) !important;
}

.bg-user {
  position: fixed !important;
  clip-path: polygon(100% 0, 100% 49%, 78% 69%, 0 45%, 0 0) !important;
}

img,
.card {
  transition: .4s ease all;
}

.agent-img{
  width: 60px !important;
}
html {
  font-family: 'Barlow', sans-serif;
}

.bg {
  position: fixed !important;
  clip-path: polygon(100% 0, 100% 23%, 80% 35%, 0 21%, 0 0) !important;
}

.bg-user {
  position: fixed !important;
  clip-path: polygon(100% 0, 100% 49%, 78% 69%, 0 45%, 0 0) !important;
}

.bg-img {
  width: 42%;
  position: absolute;
  margin-top: 4rem;
}

a {
  text-decoration: none;
  color: rgb(70, 68, 68);
}

li {
  list-style: none;
}

.navbar {
  width: 10.5rem;
  margin-top: 6.5rem;
  font-size: 15px;
  height: calc(100vh - 3rem);
  transition: .2s ease all;
}

.footer-related {
  width: 100%;
  white-space: nowrap;
  overflow: auto;
  margin-top: .5rem;
  border-radius: var(--border-radius);
}

.footer-img {
  width: 23% !important;
  margin: 2px;
  border-radius: 10px;
}

.logo a {
  font-size: 25px;
  color: var(--white);
  font-weight: bolder;
}

main {
  display: flex;
  justify-content: center!important;
}

nav {
  height: 3rem;
  /* background: #fbfbfb33; */
}

.page-container {
  margin-top: 5rem;
  width: 100%;
  border-radius: var(--border-radius);
  margin-bottom: 3rem;
}

.container {
  margin-top: 6rem !important;
  margin: 1rem;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  box-shadow: var(--shadow-top);
  text-align: center;
  position: absolute;
}

.mobile-view {
  display: none;
}

.border-radius {
  border-radius: var(--border-radius);
}


/* ======================[ pages ]====================== */

.landing {
  margin-top: 10%;
}

.landing .left-side {
  width: 50%;
}

.landing .right-side {
  margin-top: -3rem;
  width: 47%;
}

select:focus,
input:focus {
  outline-style: none;
  box-shadow: 0 1px 0 var(--theme-color);
  border-top: transparent;
  transition: 200ms;
}

[type="checkbox"] {
  width: 5%;
}

.align-center {
  text-align: center;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.detail-img {
  width: 40%;
}
.footer-img{
  height: 70px !important;
}
.detail-img img {
  width: 100%;
  border-radius: .8rem;
  box-shadow: -1px -11px 40px -27px rgba(0,0,0,0.75);
}
.product p{
  margin: .5rem !important ;
}

.prdt-dtls {
  width: 60%;
}

.prdt-dtls p {
  letter-spacing: .1px;
  word-spacing: .1rem;
}

/* shadows */


.sport-badge {
  min-width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

.ad-img {
  width: 4.5rem;
  height: 3.5rem;
  border-radius: .5rem;
}

.product h2 {
  display: block;
  font-size: 1.5em;
  margin: 2px;
}


/* google map style */

#map {
  height: 250px;
  width: 100%;
  margin-top: 10px;
}

/* responsive column */

.lg-50 {
  width: 48%
}

.form-grp {
  display: flex;
  width: 100%;
}

.footer-btn {
  text-align: center;
  border-top: 1px solid #dddddd;
  height: 44px;
}


/* bg image */

.overflow-hide {
  overflow: hidden;
}

.signup{
  color: blue !important;
}

.previewImage i {
  width: 24px;
  height: 24px;
  position: relative;
  right: 20px;
  float: left;
  border: 2px solid gainsboro;
  background: white;
  padding: 2px;
  color: #f30404;
  border-radius: 50%;
  cursor: pointer;
  transition: color .3s ease, border .3s ease;
  text-align: center;
  line-height: 1.4;
  font-size: 15px;
}

.previewImage img {
  width: 100px;
  height: 70px;
  float: left;
  border-radius: 5px;
  margin-top: 10px;
}

.photo-file-detail {
  background: #819d97;
  padding: 7px;
  color: #ffffff;
  border-bottom: 1px solid #fff;
  font-size: 16px;
  text-transform: capitalize;
}

.active {
  padding: 10px;
  background: var(--theme-color);
  border-radius: calc(var(--border-radius)/2);
}

.sm-font {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 13.5px;
}

.icon.shadow.padding-4 {
  border-radius: 10px;
}
.previewImage{
  margin-top: 15px;
}

.img-holder {
  width: 100%;
  border-radius: .8rem;
  box-shadow: var(--shadow);
  overflow: hidden;
  height: 250px;
}

.nav-item {
  padding: 10px;
  border-radius: calc(var(--border-radius)/2);
  margin: 10px auto;

}

.form{
  margin: 1rem;
  overflow: auto;
}

.img-upload-preview{
  overflow-x: auto;
  width: 100%;
  white-space: nowrap;
}
.previewImage{
  min-width:100px;
  display: inline-block;
}

.sub-container{
  margin-left: 10rem;
  margin-right: 1rem;
  background: #ffffff;
  border-radius: var(--border-radius);
  padding:.5rem;
  margin-bottom: 2.5rem;
}
.page-title{
  margin-left: 11rem;
  margin-right: 1rem;
}

.transparent{
  background: transparent !important;
}

.footer-related::-webkit-scrollbar {
  height:.3em;
}
::-webkit-scrollbar {
  width: 1px !important;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #01baef;
}

.corner_top_mask {
	top:-3px;
    left:-4px;
}

.corner_bottom_mask {
	top:-18px;
    left:-4px;
}